.headings {
  background-color: #6f42c1;
  color: white;
  padding: 5px 0px 5px 10px;
  margin-bottom: 10px;
}
.bold_text {
  font-size: larger;
  margin: 0px !important;
}
.highlightText {
  /* color: #6f42c1; */
  color: purple;
}
.mt-10 {
  margin-top: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
